@tailwind base;
@tailwind components;
@tailwind utilities;

  


  .popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  
  }
  

  
  .popup button:active {
    transform: scale(0.98);
  }
  
  .popup button:focus {
    outline: 0;
  }
  
  .notification-container {
    transition: transform 0.3s ease-in-out;
  }
  

  
  .notification-container.show {
    transform: translateY(-100px);
  }